name: php-server
services:
  nginx:
    build:
      context: .
      dockerfile: nginx.dockerfile
      #args:
        #PUID: 1001
        #PGID: 1001
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./../src:/var/www/html
    depends_on:
      - php
      - mysql
  php:
    build:
      context: .
      dockerfile: php.dockerfile
      #args:
        #PUID: 1001
        #PGID: 1001
    restart: always
    working_dir: /var/www/html
    volumes:
      - ./../src:/var/www/html
  mysql:
    image: mysql:9.2.0
    ports:
      - "3306:3306"
    volumes:
      - ./../mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ut
      MYSQL_USER: ut
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: secret
  composer:
    build:
      context: .
      dockerfile: composer.dockerfile
      #args:
        #PUID: 1001
        #PGID: 1001
    working_dir: /var/www/html
    volumes:
      - ./../src:/var/www/html
  npm:
    image: node:current-alpine
    working_dir: /var/www/html
    volumes:
      - ./../src:/var/www/html
    entrypoint: ["npm"]
  artisan:
    build:
      context: .
      dockerfile: php.dockerfile
    working_dir: /var/www/html
    volumes:
      - ./../src:/var/www/html
    depends_on:
      - mysql
    entrypoint: ["php", "/var/www/html/artisan"]