name: gio
services:
  app:
    container_name: php
    build:
      context: ""
      dockerfile: Dockerfile
    restart: always
    extra_hosts:
      - host.docker.internal:host-gateway
    working_dir: /var/www/
    volumes:
      - ../:/var/www
  nginx:
    container_name: nginx
    image: nginx:1.19-alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ../:/var/www
      - ./nginx:/etc/nginx/conf.d
  db:
    container_name: db
    image: mysql:8.0
    volumes:
      - ./storage/mysql:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
  mailhog:
    container_name: mailhog
    image: mailhog/mailhog
    restart: always
    logging:
      driver: "none"
    ports:
      - "8025:8025"
      - "1025:1025"
  cron:
    container_name: cron
    build: ./cron
    volumes:
      - ../:/var/www
      - ./log/cron:/var/log/cron
